nvim.astro.bak
Kingsoft
Kvantum
Kvantum-backup-back-up_0427_0933
QQ
Thunar
ags
FreeFileSync
alacritty
autostart
bleachbit
bottom
btop
btop-backup-back-up_0427_0933
cava
cava-backup-back-up_0427_0933
cef_user_data/Dictionaries
configstore
dconf
deluge
environment.d
falkon/profiles
fanyi
fastfetch
fcitx/dbus
fcitx5
foot
garuda
geany
go/telemetry/local
go-musicfox
gtk-2.0
gum_implementation/gum_files
htop
hypr-backup-back-up_0427_0933
hypr.default.bak
ibus/bus
io.github.clash-verge-rev.clash-verge-rev
jamesdsp
jxbrowser
kanshi
kitty-backup-back-up_0427_0933
libreoffice/4
mako
micro
modem-manager-gui
mpv
nwg-dock-hyprland
nwg-drawer
nwg-launchers
nwg-look
octopi
org.garudalinux.rani
pacseek
psd
pulse
qBittorrent
qt5ct
qt5ct-backup-back-up_0427_0933
qt6ct
qt6ct-backup-back-up_0427_0933
ranger
swappy
swappy-backup-back-up_0427_0933
swaylock
swaync
swaync-backup-back-up_0427_0933
systemd/user
vlc
wallust
waybar-backup-back-up_0427_0933
wlogout
xfce4
QtProject.conf
appimagelauncher.cfg
user-dirs.locale
user-dirs.dirs
starship_cat.toml
starship.toml
pavucontrol.ini
mimeapps.list
discord
gwe
obs-studio
obsidian
GIMP/3.0
JetBrains/PyCharm2025.1
Mousepad
Raspberry Pi
blender/4.4
jgit
